// FOOTER
footer.footer
  .container
    .footer__inner
      .footer__holder
        a.logo(href='#')
          img.logo__img(src='./images/logo-red.png', alt='Logo')
      .footer__holder
        h3.footer__heading Company
        ul.footer__list
          li.footer__item
            a.footer__link(href='#') About
          li.footer__item
            a.footer__link(href='#') Contact
          li.footer__item
            a.footer__link(href='#') Press
          li.footer__item
            a.footer__link(href='#') Blog
          li.footer__item
            a.footer__link(href='#')  Terms and Privacy
          li.footer__item
            a.footer__link(href='#')  Help
      .footer__holder
        h3.footer__heading Partners
      .footer__holder.footer__holder--areto
        span.footer__text DESIGNED BY
        img.areto(src='./images/areto.png', alt='Areto logo')
