// HEADER
header.header(style='background-image: url(images/Background.jpg);')
  .container
    nav.header__nav
      a.logo(href='#')
        img.logo__img(src='images/logo.png', alt='Logotype')
      .user
        a.user__link(href='#') Log in
        a.user__link.user__link--sign(href='#') Sign up
    .header__content
      h1.header__title Share your holiday dream
      p.header__descr And find the perfect partner to fullfill it
      a.header__link(href='#') Find your holiday partner
